In [5]:
import pandas as pd
import numpy as np

dataset = pd.read_csv(f'temps/datasetWithPonderation.csv', delimiter=',', on_bad_lines='skip')
print(len(dataset))
'''
for i in range(2,12):
    importDF = pd.read_csv(f'temps/t{i}.csv', delimiter=',', on_bad_lines='skip')
    dataset = dataset.append(importDF)
    print(len(dataset))
'''
dataset = dataset.rename(columns={"originalTitle": "title", "startYear": "year", "primaryName" : "director", "parental_advisor" : "parentalAdvisor", "averageRating" : "imdbRating"})
dataset = dataset.drop(columns=['title', 'director', 'resume'])
dataset = dataset[dataset['genre'] != np.nan ]
#dataset = dataset.dropna(subset=['year'])
#dataset = dataset.dropna(subset=['imdbRating'])
dataset = dataset.dropna(subset=['parentalAdvisor'])
dataset = dataset.dropna(subset=['duree'])
#dataset = dataset.dropna(subset=['genre'])
dataset = dataset[dataset['themaScore'] != 0 ]
dataset = dataset.reindex()
print(len(dataset))
#print(dataset.columns)

304071
98868

In [6]:
dataset = dataset.sort_values(by=['themaScore'], ascending=False)
dataset = dataset.drop_duplicates(subset=['tconst'])

print(len(dataset))
display(dataset.head())

88648

,tconst,year,genre,imdbRating,numVotes,parentalAdvisor,duree,themaScore
281907,tt4498162,2015,Biography,4.6,376,Not Rated,86.0,0.945579
68668,tt0091886,1986,Biography,7.4,21424,R,122.0,0.934472
48054,tt0095341,1988,Documentary,7.6,1472,Unrated,267.0,0.899414
59579,tt1032854,2007,Documentary,7.1,1593,Unrated,135.0,0.890546
270773,tt3104656,2015,Documentary,1.6,321,Not Rated,100.0,0.887678

In [7]:
target_name = 'imdbRating'
print(len(dataset))
# ReIndex the dataset for put the TARGET on last column. 
dataset = dataset.reindex(columns = [col for col in dataset.columns if col != target_name] + [target_name])

print('Taille Dataset :')
print(len(dataset)) 
print('Valeurs manquantes en % :')
100*dataset.isnull().sum()/dataset.shape[0]

88648
Taille Dataset :
88648
Valeurs manquantes en % :

tconst             0.0
year               0.0
genre              0.0
numVotes           0.0
parentalAdvisor    0.0
duree              0.0
themaScore         0.0
imdbRating         0.0
dtype: float64

In [8]:
dataset.to_csv(r'export/dataset.csv', index = False, header=True)